*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

        h1,h2{
        text-align: center;
        }
       
        
        body{
            background-color:rosybrown;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        h3{
            text-align: center;
            margin-left: 40px;
            margin-right: 40px;
            text-decoration-line: underline;
        }
        p{
            text-align: center;
            margin: 0px 90px 0px 90px;
            padding:0px 45px 0px 45px;
            text-decoration-line: overline underline;
            

        }
        .center{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        